.icon_card_inner_container {
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0px;
  font-family: "Titillium Web", "sans-serif";
  margin: 5px 0px;
  font-size: 2vw;
  color: #c4c4c4;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .icon_card_inner_container {
    height: 8vw;
    font-size: 6vw;
  }
}
