.navigation_container {
  background-color: #3f3131;
  flex-direction: column;
  flex: 1;
  width: 50px;
  right: 0;
  position: fixed;
}

.navigation_container div {
  writing-mode: vertical-lr;
  height: 25vh;
  color: #a19fa1;
  font-size: 2vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: auto;
  cursor: pointer;
  text-align: center;
}

#root {
  background-color: #6c696c;
}
