.navigation_container {
  background-color: #3f3131;
  flex-direction: column;
  flex: 1;
  right: 0;
  position: fixed;
}

.navigation_container div {
  writing-mode: vertical-lr;
  height: 25vh;
  color: #a19fa1;
  font-size: 2vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: auto;
  cursor: pointer;
  text-align: center;
}

#root {
  background-color: #6c696c;
  height: 100vh;
}

:root {
  background-color: #6c696c;
}

/* mobile screen */
@media only screen and (max-width: 800px) {
  .navigation_container {
    background-color: #3f3131;
    width: 8vw;
    left: 0;
  }

  .navigation_container div {
    height: 25vh;
    font-size: 2vh;
  }

  body {
    zoom: 93%;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #a19fa1 !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Firefox 18- */
  color: #a19fa1 !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Firefox 19+ */
  color: #a19fa1 !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #a19fa1 !important;
}
