.skills_container {
  background-color: #6c696c;
  width: 100%;
  padding: 10px 3vw;
  height: 100%;
  /* position: fixed; */
  /* border-bottom: 2px solid black; */
  padding-top: 0;
}

.header {
  margin: 0;
  padding: 0;
  line-height: 5vw;
  color: #c4c4c4;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-size: 3.5vw;
  font-weight: 100;
  border-bottom: 3px solid #c4c4c4;
  padding-left: 25px;
}

.skills_boy {
  margin-top: 2vw;
  height: 40vw;
  /* display: none; */
  opacity: 0.88;
}

.skills_box {
  width: 100%;
  margin: 3vw 2vw;
  margin-bottom: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  padding-left: 15px;
  padding-top: 0;
  background-color: #3f3e3e21;
  border-radius: 20px;
  height: 75vh;
}

/* width */
.skills_box::-webkit-scrollbar {
  width: 2px;
}

/* Handle */
.skills_box::-webkit-scrollbar-thumb {
  background: #4fd96669;
}

body::-webkit-scrollbar {
  width: 0px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #4fd96669;
}

/* mobile screen */
@media only screen and (max-width: 800px) {
  .skills_boy {
    display: none;
  }

  .skills_container {
    padding-right: 0;
    padding: 0;
    margin-left: 8vw;
  }

  .header {
    margin: 0;
    padding: 10px;
    font-size: 3.5vh;
    padding-left: 45px;
  }

  .skills_box {
    width: 100%;
    margin: 3vw 2vw;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100vh;
  }
}
